<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asheransari.inventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/inventory_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".insert" android:label="Insert New Record"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asheransari.inventoryapp.MainActivity"/>
        </activity>

        <activity android:name=".displayIndivual" android:label="Display Indiviual Data">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asheransari.inventoryapp.MainActivity"/>
        </activity>

        <activity android:name=".itemNew" android:label="New Item Insert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asheransari.inventoryapp.MainActivity"/>
        </activity>

    </application>

</manifest>